html,body {
    margin: 0;
    padding: 0;
    text-align: center;    
    font-family: 'Press Start 2P', monospace;
}
h1 {
    font-size: 3rem;
    color: gold;
    padding: 10px;
    margin-left: 5px;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-family: 'Press Start 2P', monospace;
    font-size: 1rem;
    margin: 40px;
    padding: 10px 30px;
    outline: 8px solid;
}
body {
    background-color: darkblue;
    background-size: cover;
    background-repeat: space;
}
canvas {
    background-color: dodgerblue;
    outline: 10px solid;
    padding: 20px;
}